.okno_oferta{
	float: left;
    margin-left:10%;
	margin-top: 5%;
	padding-right: 43%;
	margin-bottom: 0%;	
	width: 100%;
	height: 150%;
	background-color: white;
}
 .style1{
	text-align: center;
	border-bottom: 1px solid black; 
	width: 1530px;
	height: 10%;
	margin-left: 5%;
	margin-top: 150%;
}
.prawa_autorskie1 > h4{
	margin-left: 70%;
	margin-top: 0%;
}

